#apps-icon {
  width: 30px;
  height: 30px;
}
#account-icon {
  width: 39px;
  height: 39px;
}
#buttons {
  display: flex;
  justify-content: center;
}
body {
  height: 100%;
}
#flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}
nav {
  background-color: green;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  height: 70px;
}
nav > * {
  margin: 0 10px;
}
main {
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 740px;
}
footer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 150px;
  grid-template-areas:
    "header"
    "main";
}

#country {
  background-color: cyan;
  display: flex;
  align-items: center;
  grid-area: header;
}
#country p {
  margin-left: 10px;
}

#options {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#options1 {
  background-color: greenyellow;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
#options1 a {
  margin-left: 10px;
}

#options2 {
  background-color: indigo;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}
#options2 a {
  margin-right: 10px;
}
